body{
    padding-top: 20px;
}
.starter-template{
    padding: 40px 15px;
}

.add_form, .login_form, .registration_form, .admin_login{
    width: 500px;
    max-width: 600px;
    display:inline-block;
    margin-top: 6px;
}

.add_form{
    width: 520px !important;
}

/*
form{
    width: 500px;
    max-width: 600px;
    display:inline-block;
    margin-top: 6px;
}
*/

.alert{
    width: 400px;
    max-width: 400px;
}

.my_thumbnail{
    width: 184px;

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    max-height: 100%;
    text-align: center;
}

.container-fluid{
    /*min-width: 1348px !important;*/
}

.linkk{
   /* width: 14.2857%; /*     100% / 7 = 14.2857     */

    /*max-width: 16.6666%;
    min-width: 14.2857%;*/

    float: left;
    position: relative;
    height: 164px;


    margin-top: 10px;

    /*
    border-style: solid;
    border-width: 2px;
    background-color: #3e8f3e;
    */
}

.add_bookmark{
    width: 100%;
    padding: 3px 10px 10px 10px;
    border-style: solid;
    border-width: 2px;
}

hr{
    border: none; /* Убираем границу */
    background-color: #9aadff; /* Цвет линии */
    color: #9aadff; /* Цвет линии для IE6-7 */
    height: 2px; /* Толщина линии */
    margin: 1px 0 0 0;
}

.size {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
}

.breakword{
    word-wrap: break-word;
}

.my_close{
    margin-left: 5px;
}

.large_icon{
    font-size: 70px;
    text-align: center;
    line-height: 140px;
}

.plus:hover{
    /* без подчеркивания */
}