<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><?=Config::get('site_name')?></title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/css/style.css">

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
    <script src="/bootstrap/js/bootstrap.js"></script>

    <script src="/js/admin.js"></script>

</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">

            <div class="navbar-header">
                <a class="navbar-brand" href="/"><?=Config::get('site_name')?></a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">

                <!-- если пользователь не залогинен - выводим поля для логина -->
                <?php if ( !Session::get('id') ) { ?>
                    <ul class="navbar-header">
                        <form class="form-inline login_form" method="post" action='/users/login/'>
                            <div class="form-group">
                                <label class="sr-only" for="email">Email</label>
                                <input type="text" class="form-control" id="email" name="email" placeholder="login">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="password">Пароль</label>
                                <input type="password" class="form-control" id="password" name="password" placeholder="password">
                            </div>
                            <input type="submit" class="btn btn-primary" value="Login">
                        </form>
                        <a class="btn btn-primary" href="/users/registration/">Registration</a>
                    </ul>
                <?php } ?>

                <!-- если пользователь залогинен - выводим email и кнопку Logout -->
                <?php if ( Session::get('id') ) { ?>
                    <ul class="nav navbar-nav">

                        <?php if (Session::get('role') == 'admin') : echo'admin'; else: echo'settings'; endif?>

                        <li><a href='<?php if (Session::get('role') == 'admin') : echo'admin'; else: echo'settings'; endif?>'>
                            <?=Session::get('email')?></a>
                        </li>
                        <li><a href = '/users/logout'>Logout</a></li>
                    </ul>
                <?php } ?>

                <!-- test button -->
                <ul class="nav navbar-nav">
                    <li><a href = '/pages/test'>Test</a></li>
                </ul>


            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container-fluid">

        <div class="starter-template">

            <?php Session::flash(); ?>

            <?=$data['content']?>

        </div> <!-- starter-template -->

    </div> <!-- container -->

</body>
</html>