
<div class="container">

    <div class="col-xs-4 col-sm-3 col-md-2 col-lg-3 well">
        <div class="list-group">

            <h3 class="text-center">Категории</h3>

            <?php foreach($data['categories'] as $page_data) { ?>
                <a href="" class="breakword list-group-item active">
                    <?=$page_data['title']?>
                </a>
            <?php } ?>
        </div>
    </div>


    <div class="col-xs-8 col-sm-9 col-md-10 col-lg-9">
        <?php foreach($data['bookmarks'] as $page_data) { ?>
            <div style="margin-top: 10px;">
                <a href="<?=$page_data['url']?>"><?=$page_data['url']?></a>
            </div>
        <?php } ?>
    </div>


</div>