<!-- This is the pages/index.html -->

<!-- скрипт откритя модального окна добавления новой категории ссылок -->
<script>
    $(document).ready(function(){
        var value_Opt= "new_category";
        $("select").change(function () {
            if($(this).val()!=value_Opt) return false;
            $("#new_Category").modal('show');
            return false;
        })
    });
</script>

<!-- Описание модального окна добавления новой категории ссылок -->
<div class="modal fade" id="new_Category" tabindex="-1" role="dialog" aria-labeslledby="myModalLabel" aria-hidden="true" style="">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Добавить новую категорию ссылок</h4>
            </div>
            <div class="modal-body clearfix">
                <form method="post" action="/pages/category_add/">
                    <div class="form-group">
                        <label for="category">Категория</label>
                        <input type="text" id="category" name="category" class="form-control">
                    </div>
                    <input type="submit" class="btn btn-success" value="Добавить">
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Описание модального окна добавления новой ссылки-->
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labeslledby="myModalLabel" aria-hidden="true" style="">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Добавить новую ссылку</h4>
            </div>
            <div class="modal-body clearfix">
                <form method="post" action="/pages/link_add/">
                    <div class="form-group">
                        <label for="link">Ссылка</label>
                        <input type="text" id="link" name="link" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="title">Описание</label>
                        <input type="text" id="title" name="title" class="form-control" />
                    </div>
                    <input type="submit" class="btn btn-success" value="Добавить">
                </form>
            </div>
        </div>
    </div>
</div>

<!--
<?php foreach($data['links'] as $page_data) { ?>
    <div style="margin-top: 10px;">
        <a href="<?=$page_data['url']?>"><?=$page_data['title']?></a>
    </div>
<?php } ?>
-->


<!-- верхний блок "переглянути пізніше" -->
<div class="add_bookmark">
    <form class="form-inline add_form" method="post" action='/pages/bookmark_add/'>
        <div class="form-group">
            <label for="bookmark">Ссылка: </label>
            <input type="text" class="form-control" id="bookmark" name="bookmark" placeholder="Link">
        </div>
        <div class="form-group">
            <select class="form-control" name="category_id">
                <option>Без категории</option>
                <option value="new_category" data-toggle="modal">Новая категория</option>
                <?=$data['select_category']?>
            </select>
        </div>

        <input type="submit" class="btn btn-primary" name="add" value="Добавить">
        <!-- <input type="submit" class="btn btn-primary" name="view" value="Просмотр ссылок"> -->
    </form>
    <a class="btn btn-primary" href="/pages/bookmarks/">Просмотр ссылок</a>
</div>

<!--
<?php
    echo '<pre>';
    print_r ($data);
    echo '</pre>';
?>
-->

<!-- Блок з посиланнями ----------------------------------------------------------------------------------------------->
<div class="row">

    <div style="margin-top: 10px;">
        <?php foreach($data['links'] as $page_data) { ?>
            <!-- <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2"> -->
            <div class="linkk col-xs-6 col-sm-4 col-md-3 col-lg-2">

                <a href="<?=$page_data['url']?>" class="thumbnail my_thumbnail">

                    <?php if ( isset($page_data['pic_src']) ) {?>
                        <!-- <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> -->
                        <form action="/pages/link_delete/<?=$page_data['id']?>">
                            <button type="submit" class="close my_close" onclick="return confirmDelete();"><span class="glyphicon glyphicon-remove"></span></button>
                        </form>
                        <button type="submit" class="close my_close"><span class="glyphicon glyphicon-cog"></span></button>
                        <button type="submit" class="close my_close"><span class="glyphicon glyphicon glyphicon-refresh"></span></button>
                        <img src="<?=$page_data['pic_src']?>">
                        <hr>
                        <p class="text-primary size"><?=$page_data['title']?></p>
                    <?php } else { ?>
                        <h3><?=$page_data['title']?></h3>
                    <?php } ?>
                </a>

            </div>
        <?php } ?>
    </div>


<!-- Кнопка добавить ссылку ------------------------------------------------------------------------------------------->
    <?php if ( Session::get('id') ) { ?>
        <!-- Открыть модальное окно добавления новой ссылки -->
        <div class="linkk col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <a class="thumbnail my_thumbnail" data-toggle="modal" data-target="#registerModal"><p class="center-block glyphicon glyphicon-plus large_icon"></p></a>
        </div>
    <?php } ?>




</div>