<script>
    $(document).ready(function(){
        <!-- установка фокуса на поле добавления новой закладки -->
        $('#bookmark').focus();

        <!-- активация последней активной вкладки -->
        if ($.cookie('last_tab')){
            console.log($.cookie('last_tab'));
            var tab = $( 'a[href="' + $.cookie('last_tab') + '"]' );
            console.log(tab);
            tab.tab('show');
            $($.cookie('last_tab')).tab('show');
        }

        <!-- скрипт откритя модального окна добавления новой категории ссылок -->
        var value_Opt= "new_category";
        $("select").change(function () {
            if($(this).val()!=value_Opt) return false;
            $("#new_Category").modal('show');
            return false;
        });

        <!-- установка фокуса на форме добавления новой ссылки -->
        $('#newLink').on('shown.bs.modal', function (event) {
            $('#link').focus();
            <!-- считываем с какого tab data-content пришел запрос -->
            var tab = $(event.relatedTarget);
            var tab_id = tab.data('content');
            console.log(tab_id);
            $("#link_tab [value='"+tab_id+"']").prop("selected", "selected");
        });

        <!-- установка фокуса на форме добавления новой вкладки -->
        $('#newTab').on('shown.bs.modal', function () {
            $('#tab').focus();
        });

        <!-- установка куки при смене вкладки -->
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            var activeTab = $(e.target).attr('href');
            $.cookie('last_tab', activeTab, { expires: 365});
            console.log('смена вкладки на ' + activeTab);
        })

        //$.cookie('cookie_name', 'cookie_value', { expires: 365});
        //$.cookie('username', null, { expires: -1});
        //console.log( document.cookie );
        //console.log($.cookie('cookie_name'));

    });
</script>

<!-- подключение файла с модальными окнами -->
<?php
    include("index_modal_windows.html");
?>

<!-- ------------------------------------ верхний блок "переглянути пізніше" ------------------------------------------>
<div class="add_bookmark">
    <form class="form-inline add_form" method="post" action='/bookmarks/bookmark_add/'>
        <div class="form-group">
            <label for="bookmark">Ссылка: </label>
            <input type="text" class="form-control" id="bookmark" name="bookmark" placeholder="Link">
        </div>
        <div class="form-group">
            <select class="form-control" name="category_id">
                <?=$data['select_category']?>
            </select>
        </div>

        <input type="submit" class="btn btn-primary" name="add" value="Добавить">
        <!-- <input type="submit" class="btn btn-primary" name="view" value="Просмотр ссылок"> -->
    </form>
    <a class="btn btn-primary" href="/bookmarks/">Просмотр ссылок</a>
</div>


<!-- Вкладки ----------------------------------------------------------------------------------------------->
<ul id="tab_panel" class="nav nav-tabs" role="tablist">
    <?php foreach($data['tabs'] as $tab) { ?>
        <li<?= ($tab['id'] == 2) ? ' class="active"' : '' ?>> <a href="#tab<?= $tab['id'] ?>" role="tab" data-toggle="tab"><?= $tab['title'] ?></a> </li>
    <?php } ?>
    <li id="plus_tab"> <a class="glyphicon glyphicon-plus" title="Добавить новую вкладку" role="tab" data-toggle="modal" data-target="#newTab" tabindex="-1"></a> </li>
    <li> <a class="glyphicon glyphicon-cog" title="Редактировать/удалить текущую вкладку" role="tab" onclick="return edit_tab();" tabindex="-1"></a> </li>
</ul>

<!-- Содержимое вкладок -->
<div class="tab-content">

    <?php foreach($data['tabs'] as $tab) { ?>
        <div class="tab-pane <?= ($tab['id'] == 2) ? 'active' : '' ?>" id="tab<?= $tab['id'] ?>">
            <!-- Блок з посиланнями ----------------------------------------------------------------------------------------------->
            <div class="row">
            <?php foreach($data['links'] as $page_data) { if ($page_data['tab_id'] == $tab['id'] || ($page_data['tab_id'] == 0 && $tab['id'] == 2) ) {?>
                    <div class="l linkk col-xs-6 col-sm-4 col-md-3 col-lg-2" data-index="<?= $page_data['id'] ?>">
                        <a href="<?=$page_data['url']?>" class="thumbnail my_thumbnail">
                            <button type="button" class="close my_close" onclick="return link_delete(<?= $page_data['id'] ?>);"><span class="glyphicon glyphicon-remove"></span></button>
                            <button type="button" class="close my_close" onclick="return link_edit(<?= $page_data['id'] ?>);"><span class="glyphicon glyphicon-cog"></span></button>
                            <button type="button" class="close my_close" onclick="return link_refresh(<?= $page_data['id'] ?>);"><span class="glyphicon glyphicon glyphicon-refresh"></span></button>
                            <?php if ( isset($page_data['pic_src']) ) {?>
                                <img src="<?=$page_data['pic_src']?>">
                            <?php } else { ?>
                                <img src="">
                                <h3><?=$page_data['title']?></h3>
                            <?php } ?>
                            <hr>
                            <p id="link-title" class="text-primary size"><?=$page_data['title']?></p>
                        </a>
                    </div>
                <?php }} ?>

                <!-- Кнопка добавить ссылку --------------------------------------------------------------------------------------->
                <?php if ( Session::get('id') ) { ?>
                    <!-- Открыть модальное окно добавления новой ссылки -->
                    <div id="plus<?=$tab['id']?>" class="linkk col-xs-6 col-sm-4 col-md-3 col-lg-2">
                        <a class="thumbnail my_thumbnail" data-content="<?=$tab['id']?>" data-toggle="modal" data-target="#newLink" tabindex="-1"><p class="center-block glyphicon glyphicon-plus large_icon"></p></a>
                    </div>
                <?php } ?>
            </div>
        </div>
    <?php } ?>

</div>
