<!-- This is the pages/index.html -->

<!-- скрипт откритя модального окна добавления новой категории ссылок -->
<script>
    $(document).ready(function(){
        var value_Opt= "new_category";
        $("select").change(function () {
            if($(this).val()!=value_Opt) return false;
            $("#new_Category").modal('show');
            return false;
        })
    });
</script>

<!-- скрипт откритя модального окна редактирования ссылки -->
<script>
    $(document).ready(function(){
        $("#edit").click(function() {
            $("#editModal").modal('show');
            return false;
        })
    });
</script>

<!-- Описание модального окна добавления новой категории закладок -->
<div class="modal fade" id="new_Category" tabindex="-1" role="dialog" aria-labeslledby="myModalLabel" aria-hidden="true" style="">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Добавить новую категорию ссылок</h4>
            </div>
            <div class="modal-body clearfix">
                <form method="post" action="/bookmarks/category_add/">
                    <div class="form-group">
                        <label for="category">Категория</label>
                        <input type="text" id="category" name="category" class="form-control">
                    </div>
                    <input type="submit" class="btn btn-success" value="Добавить">
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Описание модального окна добавления новой ссылки-->
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labeslledby="myModalLabel" aria-hidden="true" style="">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Добавить новую ссылку</h4>
            </div>
            <div class="modal-body clearfix">
                <form method="post" action="/links/link_add/">
                    <div class="form-group">
                        <label for="link">Ссылка</label>
                        <input type="text" id="link" name="link" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="title">Описание</label>
                        <input type="text" id="title" name="title" class="form-control" />
                    </div>
                    <input type="submit" class="btn btn-success" value="Добавить">
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Описание модального окна редактирования ссылки-->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labeslledby="myModalLabel" aria-hidden="true" style="">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Редактировать ссылку</h4>
            </div>
            <div class="modal-body clearfix">
                <form method="post" action="/links/link_edit/">
                    <div class="form-group">
                        <label for="new_link">Ссылка</label>
                        <input type="text" id="new_link" name="link" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="new_title">Описание</label>
                        <input type="text" id="new_title" name="title" class="form-control" />
                    </div>
                    <input type="submit" class="btn btn-success" value="Изменить">
                </form>
            </div>
        </div>
    </div>
</div>

<!-- верхний блок "переглянути пізніше" -->
<div class="add_bookmark">
    <form class="form-inline add_form" method="post" action='/bookmarks/bookmark_add/'>
        <div class="form-group">
            <label for="bookmark">Ссылка: </label>
            <input type="text" class="form-control" id="bookmark" name="bookmark" placeholder="Link">
        </div>
        <div class="form-group">
            <select class="form-control" name="category_id">
                <?=$data['select_category']?>
            </select>
        </div>

        <input type="submit" class="btn btn-primary" name="add" value="Добавить">
        <!-- <input type="submit" class="btn btn-primary" name="view" value="Просмотр ссылок"> -->
    </form>
    <a class="btn btn-primary" href="/bookmarks/">Просмотр ссылок</a>
</div>

<!-- Блок з посиланнями ----------------------------------------------------------------------------------------------->
<div class="row">

    <div style="margin-top: 10px;">
        <?php foreach($data['links'] as $page_data) { ?>

        <!-- <pre> <?php print_r ($data['links']); ?> </pre> -->

            <div class="linkk col-xs-6 col-sm-4 col-md-3 col-lg-2">

                <a href="<?=$page_data['url']?>" class="thumbnail my_thumbnail">

                    <!-- <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> -->
                    <form action="/links/link_delete/<?= $page_data['id'] ?>">
                        <button type="submit" class="close my_close" onclick="return confirmDelete();"><span class="glyphicon glyphicon-remove"></span></button>
                    </form>

                    <form>
                        <button type="button" class="close my_close" onclick="return edit_bookmark();"><span class="glyphicon glyphicon-cog"></span></button>
                    </form>

                    <form action="/links/link_refresh/<?= $page_data['id'] ?>">
                        <button type="submit" class="close my_close"><span class="glyphicon glyphicon glyphicon-refresh"></span></button>
                    </form>

                    <?php if ( isset($page_data['pic_src']) ) {?>
                        <img src="<?=$page_data['pic_src']?>">
                        <hr>
                        <p class="text-primary size"><?=$page_data['title']?></p>
                    <?php } else { ?>
                        <h3><?=$page_data['title']?></h3>
                    <?php } ?>
                </a>

            </div>
        <?php } ?>
    </div>


    <!-- Кнопка добавить ссылку ------------------------------------------------------------------------------------------->
    <?php if ( Session::get('id') ) { ?>
        <!-- Открыть модальное окно добавления новой ссылки -->
        <div class="linkk col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <a class="thumbnail my_thumbnail" data-toggle="modal" data-target="#registerModal"><p class="center-block glyphicon glyphicon-plus large_icon"></p></a>
        </div>
    <?php } ?>


</div>